body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 95vw;
    background-color:white;
    color: rgb(0, 0, 0);
}

h1 {
    text-transform: capitalize;
}